/*-------------------+
|     IE8 styles     |
+-------------------*/

/* select box */
.select-box ul li {height:13px;margin: -1px 0 0;}

/* block tabs */
.sb-box-inner .header ul li.active a, .sb-box-inner .header ul li.active a:hover {background:url("../images/ie-tabs-bg.png") top left repeat-x;}
.sb-box-inner .header ul li a:hover {background:url("../images/ie-tabs-bg.png") bottom left repeat-x;}

/* forms */
select.select {padding:3px 5px;}
input.inputtext {padding-top:7px;height:18px;}
.sb-box .bcont form textarea {overflow:auto;}